# Create .env file and add

# MONGODB_URI = "your_connection_string"
# PORT = 5000
# JWT_SECRET = 'your_jwt_secret'

/forum-backend/.env
/forum-frontend/.env

# 
/forum-backend/originalignored.txt
/forum-frontend/originalignore.txt
/forum-frontend/node_modules
# 

# npm i express mongoose bcryptjs jsonwebtoken cors nodemon dotenv axios

forum-backend/node_modules

# To start backend server, open forum-backend with VSC and type in terminal - nodemon server.js

# To start frontend server, open forum-frontend with VSC and type in terminal - npm run dev

# Forum is currently in development stage and requires a lot of fixing.

# dependencies
/forum-frontend/.pnp
/forum-frontend.pnp.js
/forum-frontend.yarn/install-state.gz

# testing
/forum-frontend/coverage

# next.js
/forum-frontend/.next/
/forum-frontend/out/

# production
/forum-frontend/build

# misc
/forum-frontend.DS_Store
/forum-frontend*.pem

# debug
/forum-frontendnpm-debug.log*
/forum-frontendyarn-debug.log*
/forum-frontendyarn-error.log*

# vercel
/forum-frontend.vercel

# typescript
/forum-frontend*.tsbuildinfo
/forum-frontendnext-env.d.ts

api_test.txt
finals.txt
